---
import {card_wrapper, heading} from "./styles.css";
import NewsCard from "./components/card/NewsCard.astro";
import {Image} from "astro:assets"

---

<h1 class={heading}>
    Neuigkeiten über SIM-VICUS
</h1>

 <div class={card_wrapper}>
     <NewsCard imageUrl="/new_card_1.webp" >
         <h4 slot="title">
             SIM-VICUS 1.1 veröffentlicht – DXF Import und weitere spannende Features
         </h4>

         <p slot="date">
             19. JANUAR 2024
         </p>
         <p slot="description">
             Das SIM-VICUS Team wünscht ein spannendes und erfolgreiches neus Jahr! Auch in der SIM-VICUS Welt wird es in diesem Jahr…
         </p>
     </NewsCard>



 </div>

