---
import {ThemeProvider} from "../components/layout/theme/Theme_Context";
import {base_layout_style} from "./base_layout.css";
import Navbar from "../components/layout/navbar/Navbar.astro";
import Page from "../components/layout/navbar/page/Page.astro";
import Footer from "../components/layout/footer/Footer.astro";
import {Theme} from "../components/layout/theme/Theme";
---


<ThemeProvider client:only="solid-js">
    <Theme client:only="solid-js">
        <div class={base_layout_style}>
            <Navbar/>
            <Page>
                <slot/>
            </Page>
            <Footer/>
        </div>
    </Theme>
</ThemeProvider>
