---
import {ThemeProvider} from "@components/theme/Theme_Context";
import {Theme} from "@components/theme/Theme";
import {base_layout_style} from "./base_layout.css";
import Navbar from "../components/navbar/Navbar.astro";
import Page from "../components/page/Page.astro";
import Footer from "../components/footer/Footer.astro";
---


<ThemeProvider>
    <Theme>
        <div class={base_layout_style}>
            <Navbar/>
            <Page>
                <slot/>
            </Page>
        </div>
        <Footer/>
    </Theme>
</ThemeProvider>
